<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SigninSuite">
	<test thread-count="5" name="SigninTest">
		<groups>
			<run>
				<include name="Master" />
  
		
				<!-- <include name="Regression" />-->
			
			</run>
		</groups>

		<classes>
			<class name="testCases.Test_AccountloginPage" />
		</classes>
	</test> <!-- SigninTest -->
</suite> <!-- SigninSuite -->
